body {
    font-family: Arial;
    max-width: 1200px;
    margin: 20px auto; /* внешний отступ */
    background: #f5f5f5;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px; /* внутренний отступ */
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none; /* убрать подчеркивание у ссылок */
}

nav a:hover {
    background: #2980b9;
}

main {
    background: white;
    padding: 20px;
}

.flash {
    padding: 10px;
    margin: 10px 0;
}

.flash-success { background: #d4edda; }
.flash-warning { background: #fff3cd; }

table {
    width: 100%;
    border-collapse: collapse; /* границы соседних ячеек в одну, убрать двойные линии  */ 
    margin: 15px 0;
}

th, td {
    padding: 2px 4px;
    border: 1px solid #ddd;
}

th {
    background: #3498db;
    color: white;
}

tr:hover {
    background: #f9f9f9;
}

input, select {
    padding: 6px;
    border: 1px solid #ccc;
    width: 95%;
}

button {
    padding: 6px 12px;
    border: none;
    cursor: pointer; /* указатель при наведении - палец */
    margin: 2px;
}

.add-btn { background: #4CAF50; color: white; }
.save-btn { background: #2196F3; color: white; }
.delete-btn { background: #f44336; color: white; }

.stats-container {
    display: flex; /* Включает Flexbox */
    flex-wrap: wrap; /*На узком экране блоки автоматически "переезжают" вниз*/
    gap: 10px; /* расстояние между элементами */
}

.stat-block {
    flex: 1; /* все блоки занимают равную ширину и растягиваются, заполняя контейнер. */
    min-width: 250px; /* минимальная ширина блока */
    border: 1px solid #ddd;
    padding: 10px;
}